.App {
  text-align: center;
  justify-items: center;
}

.header {
  align-items: center;
  display: flex;
}

.addButon {
  font-size: 30px;
  cursor: pointer;
  margin-left: 20px;

}

.addButon :hover{
  color: black;
}

.editIcons {
  font-size: 22px;
  display: flex;     
  gap: 10px;           
  justify-content: flex-end; 
  cursor: pointer;
}

.deleteButon:hover{
  color: rgb(163, 0, 0);
}

.editButon:hover{
  color: black;
}